@page "/"
@*@inject HttpClient Http*@

<PageTitle>Blazing Trails</PageTitle>

@if (_trails == null)
{
        <p>Loading trails...</p>
}
else
{
        <div class="grid">
        @foreach (var trail in _trails)
        {
            <TrailCard Trail="trail" />
        }
    </div>
}

@*@foreach (var word in _greeting)
{
    <p>@word</p>
}

@code {
 
    List<string> _greeting = new List<string>();
 
    protected override async Task OnInitializedAsync()
    {
        _greeting.Add("Welcome"); 
        await Task.Delay(1000);
        _greeting.Add("to");
        await Task.Delay(1000);
        _greeting.Add("Blazor in Action");
    }
}*@

@*@code {
    private IEnumerable<Trail>? _trails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _trails = await Http.GetFromJsonAsync
            <IEnumerable<Trail>>("trails/trail-data.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: { ex.Message} ");
        }
    }
}*@